.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates
*.cs
*.editorconfig
/LoadBalancer/obj/Release/net8.0/LoadBalancer.csproj.AssemblyReference.cache
/LoadBalancer/obj/Release/net8.0/LoadBalancer.assets.cache
/LoadBalancer/obj/Release/net8.0/LoadBalancer.AssemblyInfoInputs.cache
/LoadBalancer/obj/Debug/net8.0/LoadBalancer.AssemblyInfoInputs.cache
/LoadBalancer/obj/Debug/net8.0/LoadBalancer.AssemblyInfo.cs
